.moviesContainer{
  padding-top: 15px;
  margin-left: 15px;
}
.moviesList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}
.movieCard {    
  float: left;  
}

.movieCard img {
  width: 100%;
}
.movieCard a {  
  float: left;
  width: 100%;
}
.movieCard .movieDetails {
    width: 100%%;
}
.movieDetails h3 {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media(min-width: 576px) {  
  .movieCard  {
    width: 48%;
  }
  
}

@media(min-width: 768px) {
  .movieCard  {
    width: 31.5%;
  }
  
}

@media(min-width: 992px) {
  .movieCard  {
    width: 21%;
  }
  
}